/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Palatino Linotype */
@font-face {
  font-family: "Palatino Linotype";
  src: url("palatino-linotype.woff2") format("woff2"),
    url("palatino-linotype.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Georgia */
@font-face {
  font-family: "Georgia";
  src: url("georgia.woff2") format("woff2"), url("georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Trebuchet MS */
@font-face {
  font-family: "Trebuchet MS";
  src: url("trebuchet-ms.woff2") format("woff2"),
    url("trebuchet-ms.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Georgia", serif;
}

p {
  font-family: "Trebuchet MS", sans-serif;
}

body {
  font-family: "Palatino Linotype" sans-serif;
  background-color: #f4f4f4;
}

/* Navbar container */
nav {
  background-color: #4e342e;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Logo */
.logo {
  color: #daa520;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

/* Navbar links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #daa520;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #8b4513;
}

/* Search bar */
.search-bar {
  background-color: #333;
  display: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  outline: none;
  display: none;
  width: 50%;
  border-bottom: none;
}

.search-bar::placeholder {
  color: #daa520;
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  right: 30px; /* Align to the right end */
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #daa520;
  border-radius: 2px;
}

/* Hero section */
.hero {
  padding: 4rem 0;
  margin: 0 auto;
  background: #4e342e;
}

.hero-container {
  max-width: 1200px;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hero-text {
  color: #fff;
  flex: 1;
}

.hero-text h1 {
  font-size: 4rem;
  padding: 0.6rem 1rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1rem;
  padding: 1rem 1rem;
}

.hero-image {
  flex: 1;
  width: 100%;
  height: auto;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.order-btn {
  padding: 0.8rem 1rem;
  background: #fff;
  color: saddlebrown;
  font-size: 1rem;
  display: inline-flex;
  margin-left: 1rem;
  border: none;
}

.order-btn span {
  padding-right: 0.4rem;
}

.explore-btn {
  padding: 0.8rem 1rem;
  background: transparent;
  border: 1px solid #fff;
  font-size: 1rem;
  color: #fff;
  margin-left: 0.6rem;
}

.stats {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
}

.number {
  font-size: 2rem;
  font-weight: bold;
}

/* Brand section */
.brands {
  background: #daa520;
  align-items: center;
  padding: 4rem 0;
}

.brands-container {
  max-width: 1100px;
  display: flex;
  width: 90%;
  margin: auto;
  gap: 4rem;
  flex-direction: column;
  padding: 1.2rem;
}

.content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

.brand-text {
  width: 50%;
}

.brand-image {
  width: 50%;
  height: auto;
}

.brand-image img {
  width: 100%;
  height: auto;
}

.brand-text h2 {
  font-size: 3rem;
  font-weight: bold;
}

.brand-text p {
  font-size: 1rem;
  margin: 2rem 0;
}

.view-btn {
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  background: black;
  color: white;
  border: none;
  display: flex;
  align-items: center;
}

.view-btn-container {
  display: flex;
  justify-content: flex-end;
}

.view-btn span {
  margin-right: 0.4rem;
}

.view-icon {
  fill: white;
  transition: fill 0.3s ease;
}

.design-image {
  width: 40%;
  height: auto;
  position: relative;
  display: inline-block;
}

.design-image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: rotate(-20deg);
}

.design-image::before,
.design-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.7);
  transform: rotate(10deg);
  z-index: 1;
}

/* Shop section */
.shop {
  padding: 4rem 0;
  text-align: center;
  background: #b67e4a;
}

.shop-container h2 {
  font-size: 2.5rem;
}

.filter-links {
  margin: 1.5rem 0;
}

.filter-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: light;
  margin: 0 1.2rem;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.filter-link:hover,
.filter-link.active {
  border-bottom: 2px solid #8b4513;
  font-weight: bold;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.3rem;
}

.shop-item {
  background: transparent;
  padding: 1rem;
  border-radius: 0.6rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 250px;
}

.shop-item p {
  font-size: 1rem;
  color: #a9a9a9;
  margin-top: 0.8rem;
}

.shop-item img {
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
}

.shop-cta {
  width: 100%;
  padding: 0.8rem 1.3rem;
  background: #a9a9a9;
  border: none;
  font-size: 1rem;
  font-family: "Georgia", sans-serif;
  margin-top: 1rem;
}

.shop-cta:hover {
  background: #8c8c8c;
}

/* Cart section */
.cart-section {
  padding: 1.3rem;
  background-color: #b67e4a;
  padding-top: 5rem;
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-items {
  margin-bottom: 1.3rem;
}

.cart-total {
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}

.checkout-btn {
  padding: 0.8rem 1.3rem;
  background: #8b4513;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.checkout-btn:hover {
  background: #a0522d;
}

/* Testimonials section */
.testimonial-section {
  width: 100%;
  background: #f5f0e1;
  padding: 5rem 0;
}

.testimonial-header {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.testimonial-slider {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.testimonial {
  background: #1a1a1a;
  color: white;
  padding: 1.3rem;
  border-radius: 0.8rem;
  display: none;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  width: 100%;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.testimonial.active {
  display: block;
  margin-top: 7rem;
}

.testimonial img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0.9rem 0;
}

.testimonial h3 {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.nav-btn {
  background: #b67e4a;
  border: none;
  font-size: 2rem;
  color: #3e2f2f;
  cursor: pointer;
  padding: 0.8rem;
  transition: color 0.3s ease-in-out;
  margin: 0 12rem;
}

.nav-btn:hover {
  color: #bf8040;
}

/* Newsletter section */
.newsletter-section {
  padding: 5rem 0;
  background: #3e2f2f;
  align-items: center;
  color: #fff;
}

.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1.2rem;
}

.newsletter-header h2 {
  font-size: 2.5rem;
  font-weight: bold;
  width: 60%;
}

.newsletter-form p {
  font-size: 1.2rem;
  font-weight: light;
}

.newsletter-form input {
  padding: 1rem 1.2rem;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #a9a9a9;
  margin-top: 1.3rem;
}

.newsletter-form input::placeholder {
  font-size: 1rem;
}

.newsletter-form span {
  background: #1a1a1a;
  padding: 0.9rem 1.2rem;
  display: inline-block;
  color: #fff;
  margin-left: -5px;
  font-size: 1rem;
}

/* Contact section */
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #bf8040;
}

.contact-container {
  width: 100%;
  max-width: 600px;
  padding: 1.4rem;
}

.contact-container h2 {
  font-size: 3rem;
}

.contact-container p {
  font-size: 1.2rem;
}

.contact-form {
  background: white;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background: transparent;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid #8b4513;
}

textarea {
  height: 80px;
  resize: none;
}

.submit-btn {
  background: #8b4513;
  color: white;
  border: none;
  padding: 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: 0.3s;
}

.submit-btn:hover {
  background: ;
}

/* Footer section */
.footer {
  padding: 4rem;
  align-items: center;
  background: #3e2f2f;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.footer-container img {
  width: 70%;
  height: auto;
  margin-bottom: 1.3rem;
}

.line {
  width: 2px;
  height: 300px;
  background: white;
}

.footer-logo {
  flex: 1;
}

.footer-logo h3 {
  font-size: 5rem;
  font-weight: bold;
}

.footer-logo p {
  font-size: 1rem;
}

.contact {
  flex: 1;
}

.contact h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact p {
  margin: 1rem 0;
}

.contact span {
  font-weight: bold;
  font-size: 1.3rem;
}

.footer-socials {
  flex-direction: 1;
  max-width: 400px;
}

.socials-icon i {
  margin-right: 0.7rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.footer-copyright {
  text-align: center;
  margin-top: 5rem;
  font-size: 0.9rem;
}

#backToTop {
  position: fixed;
  bottom: 30px;
  border-right: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.back-to-top-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

#backToTop:hover .back-to-top-icon {
  transform: scale(1.1);
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

/* Responsive design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .search-bar.active {
    display: block; /* Show search bar when active */
    margin-top: 10px;
  }

  .hamburger {
    display: flex;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .content-row {
    flex-direction: column;
    text-align: center;
  }

  .brand-image img,
  .design-image img,
  .brand-text {
    width: 100%;
  }

  .shop-item {
    flex-direction: column;
    align-items: center;
  }

  .filter-link {
    margin: 0 0.8rem;
  }

  .testimonial-section {
    width: 100%;
  }

  .testimonial-slider {
    width: 100%;
  }

  .testimonial.active {
    width: 100%;
  }

  .testimonial {
    width: 100%;
  }

  .newsletter-container {
    flex-direction: column;
  }

  .newsletter-form input {
    width: 70%;
  }

  .newsletter-header h2 {
    width: 100%;
  }

  .nav-btn {
    display: none;
  }

  .input-group {
    flex-direction: column;
  }

  .contact-section {
    flex-direction: column;
  }

  .contact-container h2 {
    font-size: 2rem;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-socials img {
    width: 70%;
  }

  .line {
    display: none;
  }
}
